.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.vscode
buildNumber.properties
dependency-reduced-pom.xml
itemstore.db.sqlite3
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
target
